* {box-sizing: border-box;
}

body{
    background-color: rgb(225, 221, 247); 
    text-align: center;
    
}


h3{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{

}

.wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:  
    'header'
    'mkuva1'
    'mainos'
    'main'
    'footer';
    width: 900px;
    text-align: center;
    padding: 0 30px;
    margin: 0;
    justify-self: center;
}

.main{
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-areas: 
    'vasen oikea';
    margin:0 50px
}

.mkuva1{
    background-color: #216158;
    height: 300px;
    width: 900px;
    justify-self: center;
}

/* Varaa täst nappula*/

.button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#ce8 0%,#592 100%);
  border-radius: 100px;
  border: 0.5px solid #8c4;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  padding: 7px 40px 9px 15px;
  box-shadow: inset 0px 1px 0px rgba(100%,100%,100%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
    color: #ffffff;
  font-size: 14px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
  }
  .button > div {
    color: #372;
  font-size: 10px;
  font-family: transcript;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: -3px 0px 0px 0px
  }
  .button > i {
    color: #e900ff;
  font-size: 1.1em;
  background: #fff;
  border-radius: 100px;
  border: 3px solid #f0f90b;
  border-width: 3px 3px 3px 3px;
  padding: 7px 7px 7px 7px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 0px;
  right: 0px
  }
  .button > .ld {
    font-size: initial
  }