* {box-sizing: border-box;
}

body{
  background-color: white;
  justify-self: center;


   
}


.wrapper{
    display: grid;
    grid-template-columns: 700px;
    grid-template-areas:  
    'header'
    'mkuva1'
    'mainos'
    'main'
    'ohje'
    'footer';
    width: 900px;
    text-align: center;
    padding: 0 30px;
    margin: 0;
    justify-self: center;
    background: linear-gradient(180deg,rgb(225, 221, 247) ,rgb(225,221,247), #ffffff, #ffffff);

    
}

h3{
    color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
    display: grid;
    grid-template-columns: 200px 350px;
    grid-template-areas: 
    'vasen oikea';
    margin:0 50px
}

.mkuva1{
   
    height: 300px;
    width: 600px;
    text-align: center;
}
.vasen{
    padding: 20px;
}

.oikea{
    padding: 20px;
}

.ohje{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto;
  grid-template-areas: 
  'o1 o2 o3';  
}

.o1{
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 20px
}
/* Varaa täst nappula*/

.button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#ce8 0%,#592 100%);
  border-radius: 100px;
  border: 0.5px solid #8c4;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  padding: 7px 40px 9px 15px;
  box-shadow: inset 0px 1px 0px rgba(100%,100%,100%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
    color: #ffffff;
  font-size: 14px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
}
  .button > div {
    color: #372;
  font-size: 10px;
  font-family: transcript;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: -3px 0px 0px 0px
}
  .button > i {
  color: #e900ff;
  font-size: 1.1em;
  background: #fff;
  border-radius: 100px;
  border: 3px solid #f0f90b;
  border-width: 3px 3px 3px 3px;
  padding: 7px 7px 7px 7px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 0px;
  right: 0px
}
.button > .ld {
    font-size: initial
}

.footer{
  margin-top: 105px; 
}